body
  font-size 12px
  margin 0
  display flex
  overflow hidden

html
  overflow hidden

.flex
  display flex
  flex-direction column

  &__content
    flex: 1 1 auto
    overflow-y auto
    overflow-x hidden

  &__header
    flex: 0 0 auto

  &_row
    flex-direction row
